:root {
    --color-primary: #003699;
    --color-dark: #333;
    --color-light: #fbfbfb;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --font-primary: 'Trebuchet MS', -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a, input, button, select, textarea {
    box-shadow: none !important;
    outline: none !important;
    border-radius: 0 !important;
}

ul {
    list-style: none;
    margin-bottom: 0.5rem;
}

.text-primary {
    color: var(--color-primary) !important;
}

.btn-primary, .bg-primary, .badge-primary, .alert-primary {
    background-color: var(--color-primary) !important;
    color: #fff;
}

.btn-dark, .bg-dark, .badge-dark, .alert-dark {
    background-color: var(--color-dark) !important;
    color: #fff;
}

.btn-light, .bg-light, .badge-light, .alert-light {
    background-color: var(--color-light) !important;
    color: #333;
}

.btn-success, .bg-success, .badge-success, .alert-success {
    background-color: var(--color-success);
    color: #fff;
}

.btn-danger, .bg-danger, .badge-danger, .alert-danger {
  background: var(--color-danger);
  color: #fff;
}

.p {
    padding: 0.5rem;
}

.m {
    padding: 0.5rem;
}

.card {
    padding: 0.5rem 1rem 0;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
}

.navbar {
    padding: 0 1rem;
    margin-bottom: 1rem; 
}

.navbar a{
    color: #fff;
}

.navbar-brand {
    font-size: 1.5rem !important;
    margin-right: 50px;
}

.navbar-toggler-icon {
    /* Must override the default background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); */
    /* Only change the ---> stroke='rgba(0, 0, 0, 0.5)' to stroke='rgba(255, 255, 255, 1)' */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Animation */
.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 250ms ease-in;
}

.form-container {
    max-width: 500px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
    .hide-sm {
      display: none;
    }
}
